body{font-family: 'Poppins', sans-serif;
    margin:0%}

h1{font-size: 50px;}
.orange-color{ color:orange;}
section{ display: flex;
        margin-bottom:100px;}
.half-width{ width: 50%;
            padding:5%;}
.half-width img{ width:70%;}
.background-image{background-image: url(image/Frame\ 59.jpg);}
.link-button{
    text-decoration: none;
    border:1px solid orange;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 50px;
    color:white;
    font-weight: 700;
    border-radius: 10px;}
   